
 *{
  box-sizing: border-box;
}



#salesTable {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  /* font-size: 18px; */
}

#salesTable th, #salesTable td {
  text-align: left;
  /* padding: 12px; */
}

#salesTable tr {
  border-bottom: 1px solid #ddd;
}

#salesTable tr.header, #salesTable tr:hover {
  background-color: #f1f1f1;
} 
