<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<form [formGroup]="serialForm">
    <div mdbModal #frame1="mdbModal" class="modal fade left" id="frameModalTop" tabindex="-1" role="dialog"
    [config]="{backdrop: 'static',  keyboard: false}"
    aria-hidden="true">


        <div class="modal-dialog modal-dialog-scrollable modal-l" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <button (click)="close()" type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">x</span>
                    </button>
                    <br>
                    <h4 class="modal-title w-100 font-weight-bold">מלא את הפרטים עבור סריה חדשה</h4>
                </div>
                <div class="modal-body mx-3">
                    <div class="row">
                        <div class="col-8 col-sm-6 col-example">
                            <div class="md-form mb-5">
                                <input type="text" id="form34" class="form-control" mdbInput mdbValidate
                                    [formControl]="serialName">
                                <label for="form34">שם סריה כללית</label>
                                <mdb-error *ngIf="serialName.invalid && (serialName.dirty || serialName.touched)">
                                </mdb-error>
                                <mdb-success *ngIf="serialName.valid && (serialName.dirty || serialName.touched)">
                                </mdb-success>
                            </div>
                        </div>
                        <div class="col-4 col-sm-6 col-example">
                            <div class="md-form mb-5" >
                                <input *ngIf="!(updateSerial)" type="date" id="form34" class="form-control" mdbInput
                                    mdbValidate [formControl]="dateBuy" max="{{this.serialForm.value.finishDate}}">
                                <input *ngIf="updateSerial" type="date" id="form34" class="form-control" mdbInput
                                    mdbValidate [formControl]="dateBuy"
                                    [ngModel]="updateSerial.dateBuy | date:'yyyy-MM-dd'" max="{{this.serialForm.value.finishDate}}">
                                <label for="form34"> תאריך קניה</label>
                                <mdb-error *ngIf="dateBuy.invalid && (dateBuy.dirty || dateBuy.touched)">
                                </mdb-error>
                                <mdb-success *ngIf="dateBuy.valid && (dateBuy.dirty || dateBuy.touched)">
                                </mdb-success>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8 col-sm-6 col-example">
                            <div class="md-form mb-5">
                                <input min="0" type="number" id="form32" class="form-control" mdbInput mdbValidate
                                    [formControl]="cost">
                                <label for="form32">סכום קוסט </label>
                                <mdb-error *ngIf="cost.invalid && (cost.dirty || cost.touched)">
                                </mdb-error>
                                <mdb-success *ngIf="cost.valid && (cost.dirty || cost.touched)">
                                </mdb-success>
                            </div>
                        </div>
                        <div class="col-8 col-sm-6 col-example">
                            <div class="md-form mb-5">
                                <input class="form-control" type="number" min="0" mdbInput mdbValidate
                                    [formControl]="partnersPercent">
                                <label> אחוזים לשותף </label>
                                <mdb-error
                                    *ngIf="partnersPercent.invalid && (partnersPercent.dirty || partnersPercent.touched)">
                                </mdb-error>
                                <mdb-success
                                    *ngIf="partnersPercent.valid && (partnersPercent.dirty || partnersPercent.touched)">
                                </mdb-success>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8 col-sm-6 col-example">
                            <div class="md-form mb-8 ">
                                <input (click)="updateFinishDate()" type="checkbox" id="form3" #closeSerial mdbInput
                                    mdbValidate >
                                <label for="form3"> סריה סגורה </label>
                            </div>
                        </div>
                        <div class="col-8 col-sm-6 col-example" *ngIf="closeSerial.checked" >
                            <div class="md-form mb-8 ">
                                <input *ngIf="!(updateSerial)" type="date" id="form34" class="form-control" mdbInput
                                    mdbValidate [formControl]="finishDate" min="{{this.serialForm.value.dateBuy}}">
                                <input *ngIf="updateSerial" type="date" id="form34" class="form-control" mdbInput
                                    mdbValidate [formControl]="finishDate"  min="{{this.serialForm.value.dateBuy}}"
                                    [ngModel]="updateSerial.finishDate | date:'yyyy-MM-dd'">
                                <label for="form3"> תאריך סגירת סריה </label>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-4 col-sm-6 col-example">
                            <div class="md-form mb-5"> <label> בחר שותף</label>
                                <input type="text" id="selectPart" name="example" list="List"
                                    [ngModelOptions]="{standalone: true}"
                                    placeholder="בחר" (change)="selectedPartnerId($event)">
                                <datalist id="List">
                                    <option *ngIf="updateSerial" value="{{updateSerial.partner.name}}">
                                        {{updateSerial.partner.name}}</option>
                                    <option id="{{p.name}}"  [attr.data-value]="p.id" 
                                     *ngFor="let p of partnerList" [value]=" p.name">
                                       </option>
                                </datalist>
                                <mdb-error *ngIf="partner.invalid && (partner.dirty || partner.touched)">
                                </mdb-error>
                                <mdb-success *ngIf="partner.valid && (partner.dirty ||  partner.touched)">
                                </mdb-success>
                            </div>
                        </div>
                    </div>
                    <button type="button" mdbBtn color="blue" rounded="true" data-toggle="modal"
                        data-target="#basicExample" (click)="frame2.show()" mdbWavesEffect id="newexpenses">
                        סריות פרטיות </button>
                    <br>
                    <div class="modal-footer d-flex">
                        <button type="button" mdbBtn color="blue" rounded="true" data-toggle="modal"
                        data-target="#basicExample" (click)="close()" mdbWavesEffect >
                        ביטול </button>
                        <button *ngIf="!(updateSerial)" type="button" mdbBtn color="blue" rounded="true"
                            data-toggle="modal" data-target="#basicExample" (click)="save()" mdbWavesEffect
                            id="saveExpenses">
                            שמירה </button>
                        <button *ngIf="updateSerial" type="button" mdbBtn color="blue" rounded="true"
                            data-toggle="modal" data-target="#basicExample" (click)="update()" mdbWavesEffect>
                            שמירה </button>
                        <router-outlet></router-outlet>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div mdbModal #frame2="mdbModal" class="modal fade" id="modalCart" tabindex="-1" role="dialog"
    [config]="{backdrop: 'static',  keyboard: false}"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog  modal-dialog-scrollable modal-l modal-side modal-top-right" role="document">
            <div class="modal-content">

                <div class="modal-header text-center">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame2.hide()">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h6 class="modal-title w-100 font-weight-bold"> סריות פרטיות</h6>
                </div>
                <div class="modal-body mx-3">
                    <table class="table">
                        <div>
                            <tr>
                                <th>שם סריה פרטית </th>
                                <th>מחיר</th>
                                <th><i class="fa fa-plus" title="הוספה" (click)="addPrivateSerial()" title="הוספת סריה"
                                        aria-hidden="true"></i></th>
                            </tr>
                            <div formArrayName="privateSeria">
                                <div class="form-group" *ngFor="let ps of privateSeria.controls; let i=index">

                                    <div class="form-group" [formGroupName]="i">
                                        <tr>
                                            <td>
                                                <input class="form-control inputS" type="text" size="sm"
                                                    formControlName="namePrivate" placeholder="שם סריה">
                                            </td>
                                            <td>
                                                <input mdbInput class="form-control inputS" size="sm" min="0"
                                                    type="number" formControlName="price" placeholder="מחיר סריה">
                                            </td>
                                            <td scope="role">
                                                <input class="form-control inputS" type="text" size="sm"
                                                    (click)="test.toggle()" title="פרטי הוצאה" placeholder=" לחץ ">
                                                <div mdbCollapse #test="bs-collapse">
                                                    <table class="table-hover ">
                                                        <tbody>
                                                            <div formArrayName="expenses">
                                                                <tr>
                                                                    <th>הוצאה </th><br><br><br>
                                                                    <th>מחיר </th>
                                                                    <th><i title="הוספה" class="fa fa-plus"
                                                                            (click)="addExArrray(i)"
                                                                            aria-hidden="true"></i></th>
                                                                </tr>
                                                                <div
                                                                    *ngFor="let e of expenses(i).controls;let ip=index">
                                                                    <div [formGroupName]="ip">
                                                                        <tr>
                                                                            <td>
                                                                                <input type="text" size="sm"
                                                                                    class="inputS form-control"
                                                                                    formControlName="nameExpenses"
                                                                                    placeholder="שם">
                                                                            </td>
                                                                            <td>
                                                                                <input type="number" min="0" size="sm"
                                                                                    class="form-control inputS"
                                                                                    formControlName="exspensesPrice"
                                                                                    #price placeholder="מחיר"
                                                                                    (input)="totalPrice[i] = price.value + totalPrice[i]">
                                                                            </td>
                                                                            <td><i title="מחיקה"
                                                                                    (click)="removeExpPrivate(i,ip)"
                                                                                    class="fa fa-times"
                                                                                    aria-hidden="false"></i>

                                                                            </td>
                                                                        </tr>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </td>
                                            <td><i title="מחיקה" (click)="removePrivate(i)" class="fa fa-times"
                                                    aria-hidden="false"></i>

                                            </td>

                                        </tr>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </table>
                </div>

                <div class="modal-footer">

                    <button type="button" class="btn btn-primary" data-dismiss="modal"
                        (click)="cancelPrivateSerial()">ביטול</button>
                    <button class="btn btn-primary" (click)="savePrivateSerial()">שמירה</button>
                    <!-- <button class="btn btn-primary" (click)="updatePrivateSerial()">שמירה</button> -->
                </div>
            </div>
        </div>
        <!-- </div> -->
    </div>
</form>