#newexpenses{
    position: fixed; 
    
    bottom: 25px; left: 25px;
    width: 150px;
  height: 50px;}
.del,.update{
  /* font-size: 18px; */
  color: blue;
  text-align: center;
  border: none;
  display: none;
  visibility: hidden;
  /* background-position: center;  */
  object-position: center;
}
#alert{
  visibility:hidden;
  bottom: 50px;
   left: 25px;
}
.modal-backdrop{
  position: relative;
}
.btn{
  padding-left:12px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 12px;
  margin: 0px;
}
  