#newexpenses{
    position: fixed; 
    bottom: 25px; left: 25px;
    /* width: 100px; */
}
.del,.update{
  /* font-size: 18px; */
  color: blue;
  text-align: center;
  border: none;
  display: none;
  visibility: hidden;
  /* background-position: center;  */
  object-position: center;
}
#alert{
  visibility:hidden;
  bottom: 50px;
   left: 25px;
}
  