<!-- <form [formGroup]='expensesForm' class="form-inline d-flex justify-content-center md-form form-sm mt-0"> -->

<body>
  <h3>טבלת הוצאות</h3>
  <div class="form-inline d-flex justify-content-center md-form form-sm mt-0">
    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor"
      xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd"
        d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z" />
      <path fill-rule="evenodd"
        d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z" />
    </svg>&nbsp;
    <input type="text" id="myInput" class="form-control form-control-sm ml-3" (keyup)="myFunction()"
      placeholder="מיון לפי שם סריה כללית" title="Type in a name">
  </div>
  <table id="myTable">
    <thead>
      <tr class="header">
        <th style="width: 150px;">שם סריה כללית</th>
        <th>תאריך</th>
        <th style="width: 270px;">האם קיבלתי צ'ק או לקזז הצ'ק הבא</th>
        <th style="width: 125px;">מספר חשבונית</th>
        <th>הערות</th>
        <th>סכום</th>
        <th>פרוט</th>
        <th style="width: 100px;">סכום לשותף</th>
        <th style="visibility: hidden;"></th>
      </tr>
    </thead>
    <tbody>
      <!-- <div id="divei" (mouseenter)="toolbar(0)"(mouseleave)="toolbar1(0)">press
        <button  id="del" ><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
          <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
        </svg></button>  
      </div>-->
      
        <tr *ngFor="let e of expensesList;let ei=index" (mouseenter)="toolbar(ei)"(mouseleave)="toolbar1(ei)" id="row{{ei}}"><!--id="{{ei}}"(mouseover)="toolbar(ei)" -->       
      <td>{{e.PublicSerialName}}</td>
        <td>{{e.date| date: "shortDate"}}</td>
        <td>{{e.getchack}}</td>
        <td>{{e.InvoiceNumber}}</td>
        <td>{{e.Remarks}}</td>
        <td>{{e.amount|currency}}</td>
        <td><button type="button" class="btn btn-primary" (click)="updateEi(ei)" (click)="frame.show()"
            data-toggle="modal" data-target="#modalCart">+</button></td>
        <td>{{e.amountPartner}}</td>
        <td style="visibility: hidden;">
        <button  id="del{{ei}}" class="del" (click)="deleteExpe(e)"><svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
      </svg>
      <!-- <i class="fas fa-trash"></i> -->
    </button> </td>
      </tr>


      <!-- -------model expenses------------------------------------ -->

      <div mdbModal #frame="mdbModal" class="modal fade" id="modalCart" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-side modal-top-right" role="document">
          <!-- <div class="modal-dialog modal-fluid" role="document"> -->
          <div class="modal-content">

            <div class="modal-header text-center">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
                <!-- <span aria-hidden="true">×</span>  -->
                <span aria-hidden="true">&times;</span>
              </button>
            </div>

            <!--Body-->
            <div class="modal-body">
              <table class="table table-hover">
                <thead>
                  <tr class="header">
                    <th>שם הוצאה</th>
                    <th>מחיר</th>
                    <!-- <th *ngIf="">Remove</th> -->
                  </tr>
                </thead>
<!-- צריך לעשות ngif  רק אם יש נתונים בטבלה *ngIf="expensesList.detail"-->
                <tbody>
                  <tr *ngFor="let e of expensesList[indexE].detail;let i=index">
                    <td>{{e.expenses}}</td>
                    <td>{{e.price}}</td>
                </tbody>

              </table>
            </div>
            <!-- <button (click)="enableSection(i, d.disabled)">{{ d.disabled ? 'Edit': 'Save' }}</button> -->

            <div> <button type="button" class="btn btn-outline-primary" data-dismiss="modal"
                (click)="frame.hide()">ביטול</button>

              <!-- <button type="button" class="btn btn-outline-primary" data-dismiss="modal"
              (click)="frame.hide()">שמירה</button> לאחר עדכון?-->
            </div>

          </div>
        </div>
      </div>
    </tbody>

  </table>
</body>

<!-- model enter new expenses -->
<!-- <td class="form-group"> <input type="text" class="form-control" name="expenses" formControlName="expenses"></td>
                <td class="form-group"> <input type="text" class="form-control" name="price" formControlName="price"> </td>   -->
<!----------------------------------------------------------- -->

<button type="button" mdbBtn color="default" rounded="true" data-toggle="modal" data-target="#basicExample"
  [routerLink]="['expenses-form']" mdbWavesEffect id="newexpenses">
  <!-- <i class="fas fa-user-plus"></i> -->
  הוצאה חדשה
</button>
<!-- </form> -->
<router-outlet></router-outlet>