<br>
<form [formGroup]='checksForm' class="form-inline d-flex justify-content-center md-form form-sm mt-0">

  <div>
    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor"
      xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd"
        d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z" />
      <path fill-rule="evenodd"
        d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z" />
    </svg>&nbsp;

    <input type="text" id="public" class="form-control form-control-sm ml-3 " (keyup.enter)="keypressevt()"
      placeholder="חיפוש לפי שם סריה כללית" title="Type in a name">
  </div>
  <table id="myTable">
    <!--mdbTable class="z-depth-1" -->
    <tr class="header">
      <th class="th-sm">תאריך צ'ק</th>
      <th>סכום צ'ק</th>
      <th>קבלה/חשבונית</th>
      <th>מספר צ'ק</th>
      <th>+/-</th>
    </tr>
    <tbody>
      <tr *ngFor="let c of checksList;let ci=index">
        <td>{{c.date|date:"shortDate"}}</td>
        <td>{{c.sum}}</td>
        <td>{{c.ReceiptOrInvoice}}</td>
        <td>{{c.numCheck}}</td>
        <td><button type="button" class="btn btn-primary" (click)="updateCi(ci)" (click)="framec.show()"
            data-toggle="modal" data-target="#modalCart">+</button></td>
      </tr>

      <!-- modal -->
      <div mdbModal #framec="mdbModal" class="modal fade" id="modalCart" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-side modal-top-right" role="document">
          <!-- <div class="modal-dialog modal-fluid" role="document"> -->
          <div class="modal-content">

            <div class="modal-header text-center">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="framec.hide()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>

            <!--Body-->
            <div class="modal-body">
              <table class="table table-hover">
                <thead class="header">
                  <tr>
                    <!-- <th row-select-all="vm.data"  selected="vm.selected" ng-click="vm.selectAll(vm.data)"></th> -->
                    <th>id</th>
                    <th>תאריך תשלום</th>
                    <th>שם סריה פרטית</th>
                    <th>שם אבן</th>
                    <th>קרט</th>
                    <th>מחיר</th>
                    <th>סך מכירה</th>
                    <th>סך אחוזים לשותף</th>
                  </tr>
                </thead>
                <tbody>
                  <!-- <tr *ngFor="let s of salesList;let i=index" *ngIf="s.id=checksList[indexC].idsales">  -->
                  <tr *ngFor="let c of checksList[indexC].IdSales;let i=index">
                    <!-- <div *ngIf="let s of salesList;let is=index" ></div> -->
                    <td>{{c}}</td>
                    <!--   <td>{{s.date| date: "shortDate"}}</td>
                    <td>{{s.privateSerialName}}</td>
                    <td>{{s.stoneName}}</td>
                    <td>{{s.w}}</td>
                    <td>{{s.pricePerCarat}}</td>
                    <td> {{s.weight*s.pricePerCarat | currency:"USD":true}}</td>
                    <td>אחוזים לשותף????</td>-->
                  </tr>
                </tbody>
              </table>
            </div>

            <div> <button type="button" class="btn btn-outline-primary" data-dismiss="modal"
                (click)="framec.hide()">ביטול</button>
              <button type="button" class="btn btn-outline-primary" data-dismiss="modal"
                (click)="framec.hide()">להדפסה</button>
            </div>

          </div>
        </div>
      </div>
    </tbody>
  </table>

  <div>צ'קים פתוחים----------------------------------------------------------------------------</div>
  <hr>
  <br><br>
  <!-- <app-sales></app-sales> -->
  <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor"
    xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd"
      d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z" />
    <path fill-rule="evenodd"
      d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z" />
  </svg>&nbsp;
  <input type="text" id="private" class="form-control form-control-sm ml-3 " (keyup)="searchPrivate()"
    placeholder="חיפוש לפי שם סריה פרטית" title="Type in a name11">
  <div class="container">
    <table id="salesTable" class="table table-hover">
      <thead>
        <tr class="header">
          <!-- <th *ngIf="isSalesPage == 'true'"></th> -->
          <th>select</th>
          <th>תאריך מכירה</th>
          <th>סך ימים</th>
          <th>תאריך קבלת הצ'ק</th>
          <th>מספר חשבונית</th>
          <th>שם סריה פרטית</th>
          <th>שם אבן</th>
          <th>משקל</th>
          <th>מחיר לקרט</th>
          <th>סה"כ</th>
          <th>גלם/מלוטש</th>
        </tr>
      </thead>
      <tbody>

        <tr *ngFor="let s of OpenSalesList" [class.selectedRow]="rowIsSelected(s.id)" 
          style="cursor: pointer;">
          <td><input type="checkbox" (click)="onRowClick(s.id)"></td>
          <!-- <td *ngIf="isSalesPage == 'true'">
          <button class="delete" type="button" (click)="deleteSale(s)"> <i
              class="material-icons">&#xe5cd;</i></button> </td> -->
          <td>{{s.date | date: "shortDate"}}</td>
          <td>{{s.numOfDate}}</td>
          <td>לעשות פונקציה</td>
          <td>{{s.invoiceNumber}}</td>
          <!-- <td>{{s.PublicSerialName}}</td> -->
          <td>{{s.privateSerialName}}</td>
          <td>{{s.stoneName}}</td>
          <td>{{s.weight}}</td>
          <td>{{s.pricePerCarat | currency:"USD":true}}</td>
          <td> {{s.weight*s.pricePerCarat | currency:"USD":true}}</td>
          <td>{{s.rawOrPolished}}</td>
          <td *ngIf="s.admin==false" class="row-right"></td>
        </tr>
        <button type="button" class="btn btn-primary" (click)="framen.show()" data-toggle="modal"
          data-target="#modalCart">לסגירת צ'ק</button>
      </tbody>
    </table>

  </div>
  <div id="row">
    <span>סה"כ מכירות</span>&nbsp;<input mdbInput mdbValidate disabled placeholder="{{OpenSalesList.length+ClosedSalesList.length}}">
    <span>צ'קים סגורים</span>&nbsp;<input mdbInput mdbValidate disabled placeholder="{{checksList.length}}">
    <span>סה"כ מכירות פתוחות</span><input mdbInput mdbValidate disabled placeholder="{{OpenSalesList.length}}"> 
  </div>

  <!-- checks modal -->

  <div mdbModal #framen="mdbModal" class="modal fade" id="modalRegisterForm" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header text-center">
          <h4 class="modal-title w-100 font-weight-bold">מלא את הפרטים עבור סגירת צ'ק</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true" (click)="framen.hide()" (click)="resetform()">&times;</span>
          </button>
        </div>
        <div class="modal-body mx-3">

          <div class="md-form mb-5">
            <input type="text" id="form30" class="form-control" mdbInput mdbValidate [formControl]="sum">
            <label for="form30">סכום צ'ק</label>
            <mdb-error *ngIf="sum.invalid && (sum.dirty || sum.touched)">
            </mdb-error>
            <mdb-success *ngIf="sum.valid && (sum.dirty || sum.touched)">
            </mdb-success>
          </div>
          <div class="md-form mb-5">
            <input type="text" id="form32" class="form-control" mdbInput mdbValidate [formControl]="numCheck">
            <label for="form32">מספר צ'ק</label>
            <mdb-error *ngIf="numCheck.invalid && (numCheck.dirty || numCheck.touched)">
            </mdb-error>
            <mdb-success *ngIf="numCheck.valid && (numCheck.dirty || numCheck.touched)">
            </mdb-success>
          </div>

          <div class="md-form mb-4">
            <input type="date" id="form31" class="form-control" mdbInput mdbValidate [formControl]="date">
            <label for="form31">תאריך</label>
            <mdb-error *ngIf="date.invalid && (date.dirty || date.touched)">
            </mdb-error>
            <mdb-success *ngIf="date.valid && (date.dirty || date.touched)">
            </mdb-success>
          </div>

          <div class="md-form mb-4">
            <select class="browser-default custom-select" mdbInput mdbValidate [formControl]="ReceiptOrInvoice">
              <!-- <select class="form-control" mdbInput mdbValidate [formControl]="ReceiptOrInvoice"> -->
              <option selected>קבלה</option>
              <option value="חשבונית">חשבונית</option>
            </select>
            <mdb-error *ngIf="ReceiptOrInvoice.invalid && (ReceiptOrInvoice.dirty || ReceiptOrInvoice.touched)">
            </mdb-error>
            <mdb-success *ngIf="ReceiptOrInvoice.valid && (ReceiptOrInvoice.dirty || ReceiptOrInvoice.touched)">
            </mdb-success>
          </div>
        </div>

        <div class="modal-footer d-flex justify-content-center">
          <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="framen.hide()"
            (click)="resetform()">ביטול</button>
          <button type="button" class="btn btn-primary" (click)="save()" (click)="framen.hide()">שמירה</button>
        </div>
      </div>
    </div>
  </div>

</form>







<!-- <div class="text-center"> -->
<!-- <a href="" class="btn btn-default btn-rounded mb-4" data-toggle="modal" data-target="#modalRegisterForm">Launch
  Modal Register Form</a> -->
<!-- </div> -->






<!--  -->
<!-- modal -->

<div mdbModal #frame="mdbModal" class="modal fade left" id="frameModalTop" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">מלא את הפרטים עבור הוצאה חדשה</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" (click)="frame.hide()">&times;</span>
        </button>
      </div>

      <div class="modal-body mx-3">

        <!-- <div class="row"> -->
        <!-- <div class="col-8 col-sm-6 col-example"> -->
        <div class="md-form mb-5">
          <input type="text" id="form30" class="form-control" mdbInput mdbValidate [formControl]="sum">
          <label for="form30">סכום צ'ק</label>
          <mdb-error *ngIf="sum.invalid && (sum.dirty || sum.touched)">
          </mdb-error>
          <mdb-success *ngIf="sum.valid && (sum.dirty || sum.touched)">
          </mdb-success>
        </div>
        <!-- </div> -->
        <!-- <div class="col-4 col-sm-6 col-example"> -->
        <div class="md-form mb-5">
          <input type="text" id="form32" class="form-control" mdbInput mdbValidate [formControl]="numCheck">
          <label for="form32">מספר צ'ק</label>
          <mdb-error *ngIf="numCheck.invalid && (numCheck.dirty || numCheck.touched)">
          </mdb-error>
          <mdb-success *ngIf="numCheck.valid && (numCheck.dirty || numCheck.touched)">
          </mdb-success>
        </div>

        <!-- </div> -->
        <!-- </div> -->
        <!-- <div class="row"> -->
        <!-- <div class="col-8 col-sm-6 col-example"> -->
        <div class="md-form mb-5">
          <input type="date" id="form31" class="form-control" mdbInput mdbValidate [formControl]="date">
          <label for="form31">תאריך</label>
          <mdb-error *ngIf="date.invalid && (date.dirty || date.touched)">
          </mdb-error>
          <mdb-success *ngIf="date.valid && (date.dirty || date.touched)">
          </mdb-success>
        </div>

        <!-- </div> -->
        <!-- <div class="col-4 col-sm-6 col-example"> -->
        <div class="md-form mb-5">
          <!-- <select class="browser-default custom-select" > -->
          <select class="form-control" mdbInput mdbValidate [formControl]="ReceiptOrInvoice">
            <option selected>קבלה</option>
            <option value="חשבונית">חשבונית</option>
          </select>
          <mdb-error *ngIf="ReceiptOrInvoice.invalid && (ReceiptOrInvoice.dirty || ReceiptOrInvoice.touched)">
          </mdb-error>
          <mdb-success *ngIf="ReceiptOrInvoice.valid && (ReceiptOrInvoice.dirty || ReceiptOrInvoice.touched)">
          </mdb-success>
        </div>
        <!-- </div> -->
        <!-- </div> -->
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="frame.hide()">ביטול</button>
        <button type="button" class="btn btn-primary">שמירה</button>
      </div>
    </div>
  </div>
</div>