<ul class="nav nav-tabs">

  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/partners']" routerLinkActive="active">שותפים</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/seriousness']" routerLinkActive="active">סריות</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/sales',a]" routerLinkActive="active">מכירות</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/checks']" routerLinkActive="active">צ'קים</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/expenses']" routerLinkActive="active">הוצאות</a>
  </li>
</ul>