<br>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<form  class="form-inline d-flex justify-content-center md-form form-sm mt-0" style="width: 1550px;">
    <div>
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor"
            xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
                d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z" />
            <path fill-rule="evenodd"
                d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z" />
        </svg>&nbsp;
        <input type="text" id="public" class="form-control form-control-sm ml-3 " (keyup)="filterNameSeria()"
            placeholder="סריה כללית" title="חיפוש לפי סריה כללית">
    </div>
    <div>
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor"
            xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
                d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z" />
            <path fill-rule="evenodd"
                d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z" />
        </svg>&nbsp;
        <input type="text" id="partner" class="form-control form-control-sm ml-3 " (keyup)="filterPartner()"
            placeholder="שותף" title="חיפוש לפי שותף">
    </div>

<div class="container">
    <table id="seriuosnessTable" class="table table-hover">
        <thead>
            <tr>
                <th style="width: 53px;"></th>
                <th style="width: 53px;"></th>
                <th style="width: 100px;">שם סריה</th>
                <th>תאריך קניה</th>
                <th>שותף</th>
                <th>אחוזי שותף</th>
                <th>קוסט</th>
                <th>סכום שהתקבל</th>
                <th>סכום שניתן לשותף</th>
                <th>תאריך סגירת סריה</th>
                <th>סריות פרטיות</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let s of seriousnessService.seriousnessList;let i=index" (mouseenter)="toolbar(i)" (mouseleave)="toolbar1(i)" id="row{{i}}">
               <td> <button id="del{{i}}" class="del" (click)="deleteSerial(s)" title="מחיקה">
                    <i class="fa fa-trash"id="trash" aria-hidden="true"></i>
                </button></td>
                <td >
                    <button id="update{{i}}" class="update"   title="עדכון" (click)="updateSeria(s)">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-brush-fill" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                          d="M15.825.12a.5.5 0 0 1 .132.584c-1.53 3.43-4.743 8.17-7.095 10.64a6.067 6.067 0 0 1-2.373 1.534c-.018.227-.06.538-.16.868-.201.659-.667 1.479-1.708 1.74a8.117 8.117 0 0 1-3.078.132 3.658 3.658 0 0 1-.563-.135 1.382 1.382 0 0 1-.465-.247.714.714 0 0 1-.204-.288.622.622 0 0 1 .004-.443c.095-.245.316-.38.461-.452.393-.197.625-.453.867-.826.094-.144.184-.297.287-.472l.117-.198c.151-.255.326-.54.546-.848.528-.739 1.2-.925 1.746-.896.126.007.243.025.348.048.062-.172.142-.38.238-.608.261-.619.658-1.419 1.187-2.069 2.175-2.67 6.18-6.206 9.117-8.104a.5.5 0 0 1 .596.04z" />
                      </svg>
                    </button>
                  </td>
                <td>{{s.serialName}}</td>
                <td>{{s.dateBuy | date:'dd/MM/yy'}}</td>
                <td>{{s.partner.name}}</td>
                <td>{{s.partnersPercent}}%</td>
                <td>{{s.cost  | currency:"USD":true}}</td>
                <td>{{s.amountReceived | currency:"USD":true}}</td>
                <td>{{s.AmountReceivedPartner | currency:"USD":true}}</td>
                <td>{{s.finishDate  | date:'dd/MM/yy'}}</td>
                <td *ngIf="s.privateSeria.length>0" (click)="test.toggle()"><i class="fa fa-hand-o-down"
                        aria-hidden="true"></i>
                    לפרטים
                    <div mdbCollapse #test="bs-collapse">
                        <table>
                            <tbody>
                                <tr *ngFor="let sp of s.privateSeria">
                                    <td>{{sp.namePrivate}}</td>
                                    <td>{{sp.price| currency:"USD":true}}</td>
                                    <td *ngIf="sp.expenses.length>0" (click)="expenses.toggle()"
                                        (click)="test.toggle()"><i class="fa fa-hand-o-down" aria-hidden="true"></i>
                                        הוצאות
                                        <div mdbCollapse #expenses="bs-collapse">
                                            <table>
                                                <tbody>
                                                    <tr *ngFor="let expense of sp.expenses">
                                                        <td>{{expense.nameExpenses }}</td>
                                                        <td>{{expense.exspensesPrice | currency:"USD":true}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
                <td *ngIf="s.privateSeria.length == 0"></td>
                <!-- <td>
                    <button class="delete" type="button" (click)="deleteSerial(s)"> <i
                            class="material-icons">&#xe5cd;</i></button>
                </td> -->

            </tr>
        </tbody>
    </table>
</div>
<!-- <app-serial-form *ngIf="flagupdate" [updateSerial]="s" (updateFlag)="updateFromFlag($event)"></app-serial-form> -->

<button type="button" mdbBtn color="blue" rounded="true" data-toggle="modal" data-target="#basicExample"
(click)="newSeria()"  mdbWavesEffect id="newSerial" class="waves-light"><i class="fa fa-diamond"
        aria-hidden="true"></i>
    סריה חדשה
</button>
<router-outlet></router-outlet>


<div mdbModal #frame2="mdbModal" class="modal fade" id="modalCart" tabindex="-1" role="dialog" 
[config]="{backdrop: 'static',  keyboard: false}"
aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-notify modal-side modal-top-right" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame2.hide()">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>שם סריה</th>
                            <th>מחיר</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- <div *ngFor="let ps of seriousnessList[0].privateSeria; let i=index">
                            <div>
                                <tr>
                                    <td> ps.namePrivate</td>
                                    <td>ps.price</td>
                                </tr>
                            </div>
                        </div> -->
                    </tbody>
                </table>

            </div>
            <!-- <div>
                <button type="button" class="btn btn-primary" data-dismiss="modal"
                    (click)="frame2.hide()">ביטול</button>
                <button class="btn btn-primary">שמירה</button>
            </div> -->
        </div>
    </div>
</div>
<div id="alert" class="alert alert-success">
    <strong>   שים לב   </strong>בקשת למחוק סריה <button type="button" class="btn btn-outline-primary"
    (click)="ok('ok')" >אישור</button>
    <button type="button" class="btn btn-outline-primary" (click)="ok('')" >ביטול</button>
  </div>
  <router-outlet></router-outlet>
 
  </form>