<br>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="container">

    <table class="table table-hover">
        <thead>
            <tr>
                <th>שם סריה</th>
                <th>תאריך קניה</th>
                <th>שותף</th>
                <th>אחוזי שותף</th>
                <th>קוסט</th>
                <th> סכום שהתקבל</th>
                <th> סכום שניתן לשותף</th>
                <th>תאריך סגירת סריה </th>
                <th>סריות פרטיות </th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let s of seriousnessList;let i=index">
                <td>{{s.serialName}}</td>
                <td>{{s.dateBuy | date: "shortDate"}}</td>
                <td>{{s.partner.name}}</td>
                <td>{{s.partnersPercent}}%</td>
                <td>{{s.cost  | currency:"USD":true}}</td>
                <td>{{s.amountReceived | currency:"USD":true}}</td>
                <td>{{s.AmountReceivedPartner | currency:"USD":true}}</td>
                <td>{{s.finishDate | date: "shortDate"}}</td>
                <td (click)="test.toggle()"><i class="fa fa-hand-o-down" aria-hidden="true"></i>
                לפרטים
                <div   mdbCollapse #test="bs-collapse"  >
                  
                    <table >
                        <tbody>                  
                            <tr  *ngFor="let sp of s.privateSeria"> 
                                <td>{{sp.namePrivate}}</td>  
                                <td>{{sp.price}}</td>  
                                <td (click)="expenses.toggle()"(click)="test.toggle()"><i class="fa fa-hand-o-down" aria-hidden="true"></i>
                              הוצאות
                              <div   mdbCollapse #expenses="bs-collapse"  >
                                <table >
                                    <tbody>                  
                                        <tr  *ngFor="let expense of sp.expenses"> 
                                            <td>{{expense.nameExpenses}}</td>  
                                            <td>{{expense.exspensesPrice}}</td>  
                                        </tr>
                                    </tbody>
                                </table>
                            </div> 
                             </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </td>

             

              
            <!-- <td *ngFor="let sp of s.privateSeria">
                <p>{{sp.namePrivate}}</p>
                <p>{{sp.price}}</p>
                <p *ngFor="let e of sp">
                    <a>{{e.nameExpenses}}</a>
                    <a>{{e.exspensesPrice}}</a>
                </p>
            </td> -->
                <!-- <td>
                    <button class="delete" type="button" (click)="deletePartner(p)"> <i
                            class="material-icons">&#xe5cd;</i></button>
                </td> -->
                <!-- <td> <button type="button" class="btn btn-primary"[indexSerial]={{i}} (click)="frame2.show()" data-toggle="modal"
                        data-target="#modalCart">+</button></td> -->
            </tr>
        </tbody>
    </table>
</div>

<button type="button" mdbBtn color="default" rounded="true" data-toggle="modal" data-target="#basicExample"
    [routerLink]="['serial-form']" mdbWavesEffect id="newSerial" class="waves-light">
    סריה חדשה
</button>
<router-outlet></router-outlet>



<div mdbModal #frame2="mdbModal" class="modal fade" id="modalCart" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-notify modal-side modal-top-right" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame2.hide()">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">


                <table class="table table-hover">

                    <thead>
                        <tr>

                            <th>שם סריה</th>
                            <th>מחיר</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- <div *ngFor="let ps of seriousnessList[0].privateSeria; let i=index">

                            <div>
                                <tr>

                                    <td> ps.namePrivate</td>
                                    <td>ps.price</td>
                                </tr>
                            </div>
                        </div> -->
                    </tbody>
                </table>

            </div>
            <div>
                <button type="button" class="btn btn-primary" data-dismiss="modal"
                    (click)="frame2.hide()">ביטול</button>
                <button class="btn btn-primary">שמירה</button></div>
        </div>
    </div>
</div>