
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div>
  <h3>הוספת מכירות</h3>
</div>
<form style="max-width: 960px;margin-right: 200px;" [formGroup]="salesForm" action="action" (submit)="saveSale()" method="POST"
  class="form-inline">
  <br>

  <!-- <span>

    <label for="datesale">מספר אבנים</label>
    <input type="number" min="0" formControlName="num" class="form-control" tabindex="0" (change)="numStonesFunc()"
      id="numStones">
     <label  *ngIf="salesForm.controls['datesale'].error!=null">גדול </label> -->
  <!-- </span>&nbsp; &nbsp; -->
  <span>
    <label for="invoiceNumber">שם לקוח:</label>
    <input type="text"  class="form-control" tabindex="0">
  

  </span>&nbsp; &nbsp;
  <span>

    <label for="datesale"> תאריך מכירה:</label>
    <input type="date" (input)="addEventCalcDate()" class="form-control" formControlName="date" tabindex="1"
      id="datesale">

    <!-- <label  *ngIf="salesForm.controls['datesale'].error!=null">גדול </label> -->
  </span>&nbsp; &nbsp;
  <!-- PaymentsNumber -->
  <span>
    <label for="numOfDate">תנאי תשלום:</label>
    <input type="text" min="0" (input)="addEventCalcDate()" class="form-control" type="number" tabindex="2"
      formControlName="numOfDate" placeholder="מספר ימים" id="numOfDate">
  </span>&nbsp; &nbsp;

  <span>
    <label>תאריך פרעון:</label>
    <input [value]="dateP" class="form-control"  placeholder="אוטומטי" id="DueDate" disabled="form-check-input">
  </span>&nbsp; &nbsp;
  <span>
    <label for="invoiceNumber">מספר חשבונית:</label>
    <input type="number" min="0" class="form-control" formControlName="invoiceNumber" tabindex="3"
      placeholder="מספר חשבונית" id="invoiceNumber">

  </span>&nbsp; &nbsp;
  <br><br><br><br>
  <div>
    <label class="form-check-label">
      <label>
        <input type="radio" (input)="tableKeyPresent()" id="raw" class="form-check-input" tabindex="4"
          formControlName="rawOrPolished" [checked]="true" value="raw">&nbsp;גלם
      </label>
      <label>
        &nbsp;
        <input type="radio" (input)="tableKeyPresent()" class="form-check-input" tabindex="5" value="polished"
          formControlName="rawOrPolished">&nbsp;מלוטש
      </label>
    </label>
  </div>
  <br>
  <br>
  <br>
  <br><br>

  <table class="table table-bordered" id="saleTable">
    <thead>
      <tr id="header">
        <th>סריה כללית</th>
        <th>סריה פרטית</th>
        <th>שם אבן </th>
        <th>משקל</th>
        <th style="height:5px ;"> מחיר לקראט</th>
        <th>סה"כ</th>
        <th (click)="addSale()"><i title="הוספה"  style="color: darkgreen;" class="fa fa-plus" aria-hidden="true"></i></th>
      </tr>
    </thead>
    <tbody formArrayName="newSaleRow">
      <tr *ngFor="let sale of newSaleRow.controls; let i=index" [formGroupName]="i">

      <!-- <td>
          <input style="border: none;" type="text" id="selectSerial" tabindex={{i*5+6}} name="example" list="List"
            [ngModelOptions]="{standalone: true}" [(ngModel)]="selectedSerial" placeholder="בחר"
            (change)="selectedSaleId($event)">
          <datalist id="List">
            <option id="{{s.serialName}}" *ngFor="let s of seriousnessList ;let i=index" [attr.data-value]="s.id"
              [attr.i]="i">{{s.serialName}}
            </option>
          </datalist>
</td> -->

      <td id="serialName" >
        <input (input)="getPrivate($event)"style="border: none;" type="text" id="selectSerial" tabindex={{i*5+6}} name="example" list="List"
          [ngModelOptions]="{standalone: true}" formControlName="publicSerialName" placeholder="בחר"
          (change)="selectedSaleId($event,i)">
        <datalist id="List">
          <option id="{{s.serialName}}" *ngFor="let s of seriousnessList ;let ip=index" [attr.data-value]="s.id"
            [attr.i]="ip">{{s.serialName}}
          </option>
        </datalist>
      </td>
      <!--    (change)="selectedSaleId($event,i)"  [attr.data-value]="s.id"-->
      <td  >
        <input style="border: none;" type="text" id="selectSerial" tabindex={{i*5+7}} name="example" list="ListP"
        (change)="selectedPrivate($event,i)" [ngModelOptions]="{standalone: true}" formControlName="privateSerialName" placeholder="בחר"
        >
        <datalist id="ListP">
          <option id="{{p.namePrivate}}" *ngFor="let p of selectPrivateSerial ;let i=index" 
            [attr.i]="i">{{p.namePrivate}}
          </option>
        </datalist>
      </td>

      <!-- <td>
        <input formControlName="privateSerialName" type="text" class="input" tabindex={{i*5+7}}>
      </td> -->

      <td><input formControlName="stoneName" type="text" class="input" tabindex={{i*5+8}}> </td>

      <td><input #wee tabindex={{i*5+9}} (input)="totalPrice[i] = wee.value * pricepercarat.value "
          formControlName="weight" class="input" min="0" type="number" name="w"> </td>

      <td><input tabindex={{i*5+10}} #pricepercarat (input)="totalPrice[i] = wee.value * pricepercarat.value "
          formControlName="pricePerCarat" class="input" min="0" type="number" classNam="PricePerCarat"> </td>

      <td><input [value]="totalPrice[i]" class="input"></td>
      <td><i title="מחיקה" (click)="removeSale(i)" style="color: crimson;" class="fa fa-times" aria-hidden="false"></i>

      </td>
      </tr>
    </tbody>
  </table>
  <label class="error" *ngIf="salesForm.controls.dirty">נא למלא את כל הפרטים.</label><br>
  <div class="modal-footer d-flex">
    <button type="button" (click)="cancel()" class="btn btn-primary"  id="cancel">ביטול</button>
    <button type="submit" class="btn btn-primary" id="save" [disabled]="!salesForm.valid">שמירה</button>
  </div>
</form>


