<div>
  <h3> הוספהמכירה לשאוב עדכון או </h3>
</div>
<form [formGroup]='salesForm' action="action" (submit)="save()" method="POST" class="form-inline">
  <!-- date
  getchack
  defefefe
  TotalPrice-אוטומטי
  RawOrPolished -->
  <br>

  <span>
    <label for="datesale"> תאריך מכירה:</label>
    <input type="date"  class="form-control" formControlName="datesale" id="datesale">
    <!-- <label  *ngIf="salesForm.controls['datesale'].error!=null">גדול </label> -->
  </span>&nbsp; &nbsp;
<!-- PaymentsNumber -->
  <span>
    <label for="numdate">תנאי תשלום:</label>
    <input type="text" class="form-control" formControlName="numdate" placeholder="מספר ימים"
      id="numdate">
  </span>&nbsp; &nbsp;
  
  <span>
    <label >תאריך פרעון:</label>
    <input type="text" class="form-control" disabled="form-check-input"  placeholder="תאריך פרעון" id="DueDate">   
  </span>&nbsp; &nbsp;
  <span>
    <label for="InvoiceNumber">מספר חשבונית:</label>
    <input type="text" class="form-control" formControlName="InvoiceNumber" placeholder="מספר חשבונית"  id="InvoiceNumber">
     
  </span>&nbsp; &nbsp;
  <br><br><br><br>
  <div>
    <label class="form-check-label">
      <input type="radio" class="form-check-input" name="optradio">&nbsp;גלם
      &nbsp;<input type="radio" class="form-check-input" name="optradio">&nbsp;מלוטש
    </label></div>
  <br>
  <br>
  <br>
  <br><br>
  <table class="table table-bordered" id="myTable">
    <thead>

      <tr id="header">
        <th scope="col"></th>
        <th>סריה כללית</th>
        <th>סריה פרטית</th>
        <th>אבן</th>
        <th>משקל</th>
        <th style="height:5px ;">מחיר</th>
        <th>סה"כ</th>
      </tr>
    </thead>
    <tbody >

      <tr>
        <th   scope="row" ><svg (click)="addrow()"id="svg" width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-file-earmark-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path d="M4 0h5.5v1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4.5h1V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2z"/>
          <path d="M9.5 3V0L14 4.5h-3A1.5 1.5 0 0 1 9.5 3z"/>
          <path fill-rule="evenodd" d="M8 6.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V11a.5.5 0 0 1-1 0V9.5H6a.5.5 0 0 1 0-1h1.5V7a.5.5 0 0 1 .5-.5z"/>
        </svg></th>
        <td><input type="text" class="input" id="PublicSerialName"> </td>
        <td><input type="text" class="input" id="PrivateSerialName"> </td>
        <td><input type="text" class="input" id="StoneName"> </td>
        <td><input type="text" class="input" id="Weight"> </td>
        <td><input type="text" class="input" id="PricePerCarat"> </td>
        <td> </td>

      </tr>
      <label class="error" *ngIf="salesForm.controls.dirty">נא למלא את כל הפרטים.</label>
      </tbody>
  </table>

  <br>
  <button type="submit" class="btn btn-primary" id="save">שמירה</button>&nbsp; &nbsp;
  <!-- icon -->
  <!-- <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-x-square-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm3.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
  </svg> -->
  <button (click)="cancel()" class="btn btn-primary" id="cancel">ביטול</button>
</form>





<!-- <div >

  

  <span>
    <label for="email">תאריך:</label>
    <input type="date" class="form-control" formControlName="email" placeholder="כתובת מייל" id="email">
  </span>&nbsp;	&nbsp;	
 
  <span>
    <label for="email">תנאי תשלום:</label>
    <input type="number" class="form-control" formControlName="email" placeholder="כתובת מייל" id="email">
  </span>&nbsp;	&nbsp;	
  <span>
    <label for="email">מספר חשבונית:</label>
    <input type="number" class="form-control" formControlName="email" placeholder="כתובת מייל" id="email">
  </span>&nbsp;	&nbsp;	
  <br>
<div>
  <label class="form-check-label">
    <input type="radio" class="form-check-input" name="optradio"> גלם
    <input type="radio" class="form-check-input" name="optradio">מלוטש
  </label></div>
</div> -->

<!-- class="form-inline" -->

<!-- <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th>סריה כללית</th>
        <th>סריה פרטית</th>
        <th>אבן</th>
        <th>משקל</th>
        <th>מחיר</th>
        <th>סה"כ</th>
      </tr>
    </thead>
    <tbody>
  
      <tr>
        <th scope="row">4</th>
        <td><input type="text" class="input"> </td>
        <td><input type="text" class="input"> </td>
        <td><input type="text" class="input"> </td>
        <td><input type="text" class="input"> </td>
        <td><input type="text" class="input"> </td>
        <td> </td>
  
      </tr>
    </tbody>
  </table> -->