#newpartner{
    position: fixed; 
    bottom: 25px; left: 25px;
    /* width: 100px; */
}
.del,.update{
    text-align: center;
    border: none;
    display: none;
    /* visibility: hidden; */
    object-position: center; font-size: 18px;
    color: blue;
  }
  #alert{
    visibility:hidden;
    bottom: 50px;
     left: 25px;
  }
