<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<br>
<form [formGroup]='partnersForm'  *ngIf="partnersForm">
    <div class="container">  
      <table   class="table table-hover">
          <thead>
            <tr>
              <th style="width: 53px;"></th>
              <th style="width: 53px;"></th>
              <th>שם שותף</th>
              <th>איש קשר</th>
              <th>מייל</th>
              <th>טלפון</th>
              <th>פקס</th>
              <th>פלאפון</th>
              <th>הערות</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let p of partnerService.partnerList;let i = index" (mouseenter)="toolbar(i)" (mouseleave)="toolbar1(i)" id="row{{i}}">
              <td> <button id="del{{i}}" class="del" (click)="deletePartner(p)" title="מחיקה">
                <i class="fa fa-trash"id="trash" aria-hidden="true"></i>
            </button></td>
            <td> <button id="update{{i}}" class="update" (click)="updateflag(p)" title="עדכון">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-brush-fill" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                  d="M15.825.12a.5.5 0 0 1 .132.584c-1.53 3.43-4.743 8.17-7.095 10.64a6.067 6.067 0 0 1-2.373 1.534c-.018.227-.06.538-.16.868-.201.659-.667 1.479-1.708 1.74a8.117 8.117 0 0 1-3.078.132 3.658 3.658 0 0 1-.563-.135 1.382 1.382 0 0 1-.465-.247.714.714 0 0 1-.204-.288.622.622 0 0 1 .004-.443c.095-.245.316-.38.461-.452.393-.197.625-.453.867-.826.094-.144.184-.297.287-.472l.117-.198c.151-.255.326-.54.546-.848.528-.739 1.2-.925 1.746-.896.126.007.243.025.348.048.062-.172.142-.38.238-.608.261-.619.658-1.419 1.187-2.069 2.175-2.67 6.18-6.206 9.117-8.104a.5.5 0 0 1 .596.04z" />
              </svg> 
            </button>
            </td>
            <td>{{p.name}}</td>  
            <td>{{p.contact}}</td> 
            <td>{{p.email}}</td>  
            <td>{{p.phone}}</td> 
            <td>{{p.fax}}</td> 
            <td>{{p.pel}}</td> 
            <td>{{p.Remarks}}</td>
           </tr>                           
          </tbody>
        </table>
      </div>
      <button type="button" id="newpartner" mdbBtn color="blue" rounded="true" data-toggle="modal" data-target="#basicExample"
     (click)="newPartner()"  mdbWavesEffect ><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-person-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
        </svg>   שותף חדש
</button>
<router-outlet></router-outlet>
 

<div id="alert" class="alert alert-success">
  <strong>   שים לב   </strong>בקשת למחוק שותף<button type="button" class="btn btn-outline-primary"
  (click)="ok('ok')" >אישור</button>
  <button type="button" class="btn btn-outline-primary" (click)="ok('')" >ביטול</button>
</div>
<router-outlet></router-outlet>

</form>